<!--<? include L::getHtmlTpl('/html/head.html');
?>-->
<div class="right-frame jsIsClosed">
    <div class="all-title"><span></span><a>树莓派小车</a></div>
</div>
<div style="text-align: center">
    <table style="text-align: center" width="100%">
        <tr>
            <td colspan="3" style="text-align: center">
                <img src="../img/goahead.png" style="width: 100px;height: 100px" onmousedown="mainObj.mousedown()" onmouseup="mainObj.mouseup()" alt="goahead">
            </td>
        </tr>
        <tr>
            <td style="text-align: right">
                <img src="../img/left.png" style="width: 100px;height: 100px" onmousedown="mainObj.mousedown()" onmouseup="mainObj.mouseup()" alt="left">
            </td>
            <td style="width: 100px;height: 100px"></td>
            <td style="text-align: left">
                <img src="../img/right.png" style="width: 100px;height: 100px" onmousedown="mainObj.mousedown()" onmouseup="mainObj.mouseup()" alt="right">
            </td>
        </tr>
        <tr>
            <td colspan="3" style="text-align: center">
                <img src="../img/back.png" style="width: 100px;height: 100px" onmousedown="mainObj.mousedown()" onmouseup="mainObj.mouseup()" alt="back">
            </td>
        </tr>
    </table>
</div>
<script _src="ROOT_URL.'/view/js/base.js?v=201709151'"></script>
<script _src="ROOT_URL.'/view/js/main.js'"></script>
<script _src="ROOT_URL.'/view/js/layer/layer.js'"></script>

